#tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 10px 6px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    border: 0.5px solid #00D3F2;
    background: rgba(9, 112, 156, 0.19);
    backdrop-filter: blur(1.5px);
    gap: 0.5rem;

}

.codeACText{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 80% */
    text-transform: uppercase;
}

.acquisitionText{
    color: #00D3F2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
    text-transform: uppercase;
}

