#pausePlayBtn {
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 2rem;
        z-index: 53;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
}

#pausePlayBtn:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
}


#playIcon {
    display: none;
}

#pauseIcon{


}


